@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400,500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

.slick-prev {
  left: 20px !important;
  z-index: 1 !important;
}
.slick-next {
  right: 30px !important;
  z-index: 1 !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  color: #2c343c !important;
}
