.imgHover {
  cursor: pointer;
  margin: -5px 0;

  img {
    transition: all 600ms ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.img {
  &:hover {
    &:after {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
      -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
      -moz-transform: translate(-50%, -50%) rotate(45deg) scale(1);
      -o-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    padding-top: 100%;
    top: 50%;
    left: 50%;
    opacity: 1;
    background: #fff;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -moz-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -o-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
  }
}

.productArea {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  a {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    opacity: 0;
  }
  &:hover {
    .productOverlay {
      opacity: 1;
    }
    a {
      opacity: 1;
    }
    .contentDetails {
      top: 50%;
      left: 50%;
      opacity: 1;
    }
  }
}

.productOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  z-index: 1;
}

.fadeInBottom {
  top: 80%;
}
